<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <Product Id="9C7ADA41-D557-44DE-9BD2-E0E6E9D806A8" Name="TestProduct" Language="1033" Version="0.0.0.1" Manufacturer="WixEdit" UpgradeCode="32D206C2-869F-43C7-B0DB-043DE66E620E">
    <Package
        Description="Test file in a Product"
        Comments="Simple test"
        InstallerVersion="200"
        InstallPrivileges="elevated"
        InstallScope="perMachine"
        Compressed="yes" />
    <Media Id="1" Cabinet="simple.cab" EmbedCab="yes" />
    <SetDirectory Id="WINDOWSVOLUME" Value="[WindowsVolume]" />
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder" Name="PFiles" />
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ProgramMenuDir" Name="TD Agent Builder4 Service Installer">
          <Component Id="StartMenuShortcuts" Guid="9B9190BA-E9D6-49FB-8EAB-60E59C3FF3CE">
            <RemoveFolder Id="ProgramMenuDir" On="uninstall" />
            <RegistryValue Root="HKCU" Key="Software\[Manufacturer]\[ProductName]" Type="string" Value="" />
            <util:InternetShortcut Id="WebsiteShortcut" Name="TDAgentBuilder4" Target="https://github.com/fluent-plugins-nursery/td-agent-builder" />
          </Component>
        </Directory>
      </Directory>
      <Directory Id="WINDOWSVOLUME">
        <Directory Id="OPTLOCATION" Name="opt">
          <Directory Id="PROJECTLOCATION" Name="td-agent">
          </Directory>
        </Directory>
      </Directory>
    <Feature Id="DefaultFeature" Title="Main Feature" Level="1">
      <ComponentRef Id="StartMenuShortcuts" />
    </Feature>
    <UI />

    <CustomAction Id="InstallFluentdWinSVC"
                  ExeCommand="[PROJECTLOCATION]bin\td-agent.bat --reg-winsvc i --reg-winsvc-auto-start --reg-winsvc-delay-start --reg-winsvc-fluentdopt &quot;-c [PROJECTLOCATION]\etc\td-agent\td-agent.conf -o [PROJECTLOCATION]\td-agent.log&quot;"
                  Directory="PROJECTLOCATION"
                  Execute="deferred"
                  Return="check"
                  Impersonate="no" />
    <CustomAction Id="UnInstallFluentdWinSVC"
                  ExeCommand="[PROJECTLOCATION]bin\td-agent.bat --reg-winsvc u"
                  Directory="PROJECTLOCATION"
                  Execute="deferred"
                  Return="check"
                  Impersonate="no" />
    <InstallExecuteSequence>
      <Custom Action="InstallFluentdWinSVC" After="InstallFiles">NOT Installed</Custom>
      <Custom Action="UnInstallFluentdWinSVC" Before="RemoveFiles">NOT Installed</Custom>
    </InstallExecuteSequence>
    
  </Product>
</Wix>
